<div class="overflow-hidden flex rounded-2xl bg-secondary mt-14 max-h-135 gap-24">
  <div class="flex-2">
    <img class="rounded-l-2xl" src="/assets/images/become-seller.jpg" alt="farmer" />
  </div>
  <div class="flex-3 flex flex-col items-start">
    <h1 class="text-left text-6xl mt-12 font-semibold">Become a seller!</h1>
    <p class="max-w-[85%] mt-6 text-xl font-medium">
      Join a marketplace built for producers who want a simpler way to reach customers. Instead of
      relying on distributors or wholesalers, you sell directly to restaurants, shops, and people in
      your area.
    </p>
    <p class="max-w-[85%] mt-6 text-xl font-medium">
      This gives you more control over pricing, better margins, and a clearer connection between
      what you produce and who buys it. Your products stay local, and your business stays closer to
      your market.
    </p>
    <button
      class="mt-6 hover:bg-[#333] transition-colors gap-3 flex items-center font-medium bg-black text-white rounded-full px-6 py-3"
      [routerLink]="'/add-product'"
    >
      Get Started In Seconds
      <span class="flex items-center justify-center bg-white rounded-full size-7">
        <img class="size-5" src="assets/icons/chevron-right.svg" alt="chevron right" />
      </span>
    </button>
  </div>
</div>
