<div class="flex flex-col">
  <div class="flex items-center justify-between">
    <h1 class="text-4xl font-semibold">{{ title() }}</h1>

    <a [routerLink]="['/products']" class="text-lg font-medium flex items-center gap-1">
      View All
      <span>
        <img class="size-5" src="assets/icons/right-arrow.svg" alt="right arrow" />
      </span>
    </a>
  </div>
  <div class="mt-6 flex gap-7 min-h-68">
    @for (product of products(); track product.slug) {
      @if ($index != 4 || ($index == 4 && screenWidth() > 1475)) {
        <product-card [product]="product" />
      }
    }
  </div>
</div>
